/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Miama Font */
@import url('https://fonts.cdnfonts.com/css/miama');


/* Font style */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* Theme section */
:root{
    --primary-text-color: rgba(255, 255, 255, 0.50);
    --primary-title-color: white;
    --primary-btn-color: #E6533C;
    --primary-btn-text-color: white;
}

  /* Shared Styles */
  *{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #000;
    font-family: var(-);
  }
  .text-center{
    text-align: center;
  }
  .desktop-width{
    width: 80%;
    margin: 0 auto;
  }
  .display{
    display: none;
  }
  .title{
    font-size: 3rem;
    font-weight: 900;
    color: var(--primary-title-color);
  }
  .description{
    font-family: 1rem;
    color: var(--primary-text-color);
  }
  .btn-primary{
    padding: 1rem  2.5rem;
    background-color: var(--primary-btn-color);
    color: var(--primary-btn-text-color);
    border-radius: 2.625rem;
    border: none;
  }
  /* Header section style */
header{
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);
}
  /* Navbar Style */
  .navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.5rem;
  }
  .logo{
    color: var(--primary-btn-color);
    font-style: italic;
    font-size: 2.25rem;
    font-weight: 800;
    cursor: pointer;
  }
  .nav-items {
    display: flex;
    gap: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 2.875rem;

  }
  .nav-items li{
    color: white;
    font-size: 1.125rem;
    font-weight: 400;
    list-style: none;
    padding: .5rem 1.25rem;
    margin: .25rem;
    cursor: pointer;
  }
  #home{
    padding: .5rem 1.25rem;
    background-color: var(--primary-btn-color);
    color: var(--primary-btn-text-color);
    border-radius: 2.875rem;
    
  }
  .fa-solid{
    display: none;
  }

  /* Banner Styles */
  .banner-container{
    margin-top: 6rem;
    display: flex;
    gap: 5.5rem;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  .banner-text p{
    margin-bottom: 1.75rem;
  }
  .banner-img{
    background: url('../images/Images\ 2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 36.25rem;
    position: relative;
  }
  .banner-title{
    color: white;
    font-size: 4.625rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 1.75rem;

  }
  .miama-normal{
    font-family: 'Miama', sans-serif;  
    font-weight: 400px; 
    color: white;
    font-size: 6rem;   
    line-height: 120%;                                     
}
.btn-transparent{
    background-color: black;
    border: 1px solid white;
    margin-left: .875rem;
}
.video{
    width: 12.875rem;
    height: 6rem;
    border-radius: .55rem;
    border: .8px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(7.560137748718262px);
    display: flex;
    align-items: center;
    justify-content: center;

}
.video>div{
    color: var(--primary-title-color);
    height: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: .38rem;

}
.play-icon{
    width: 20%;
}
.play-icon img{
    width: 100%;
}
.text h3{
    font-size: 1.5rem;
    font-weight: 900;
}
.text p{
    font-size: 1rem ;
    color: var(--primary-text-color);
}
.workout h2{
    font-size: 2.5rem;
}
.workout p{
    font-size: .8rem;
}
.tutorial{
    position: absolute;
    top: 27%;
    right: -21%;
}
.free-workout{
    position: absolute;
    bottom: 7%;
    left: -20%;
}
/* Habits Section Styles */
.habits-container{
  margin-top: 6rem;
}
.habits-container h1, p{
  text-align: center;
}
.habits-container p{
  margin-bottom: 3.625rem;
}
.habits-container h1{
  margin-bottom: .875rem;
}
.habits-card-container{
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.habits-card>div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-img{
  margin-top: 0;
  /* border-radius: 100%; */
}
.card-img{
  margin-bottom: 1.875rem;
}
.card-img img{
  border-radius: 100%;
  border: 4px solid rgba(255, 255, 255, 0.10);

}
.card-title{
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--primary-title-color);
  margin-bottom: .375rem;
}
/* Run an Extra Mile section's style */
.extra-mile-container{
  padding: 1.875rem 2rem ;
  background-color: rgba(155, 151, 151, 0.144);
  border-radius: 1.125rem;
  display: flex;
  gap: 10rem;
  align-items: center;
}
.extra-mile-text p{
  text-align: left;
  margin-top: 14px;
  margin-bottom: 34px;
}
.extra-mile-img img{
  width: 100%;
  border-radius: 1.125rem;

}
/* BMI Calculator section */
.bmi-bg-color{
  background-color: rgba(255, 255, 255, 0.10);
}
.bmi-section{
  margin: 3rem auto;
}
.bmi-calculator-container{
  margin: 2rem auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.bmi-title{
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.bmi-description{
  text-align: left;
  margin-bottom: 2rem;
}
.bmi-calculator{
  width: 50%;
}
.bmi-table th, td{
  border: 1px solid rgba(255, 255, 255, 0.10);
  text-align: left;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.bmi-table th{
  color: var(--primary-title-color);
  font-size: 1rem;
  font-weight: 500;
}
.bmi-table table{
  border-collapse: collapse;
  margin-top: 38px;
}
.input-container{
  width: 100%;
}
input{
  padding: 12px 20px 12px 40px;
  border: none;
  color: gray;
  background-color: rgba(122, 122, 122, 0.507);
  border-radius: 8px;
  width: 100%;
  margin-bottom: .5rem;

}
select{
  padding: 12px 20px 12px 40px;
  border: none;
  color: gray;
  background-color: rgba(122, 122, 122, 0.507);
  border-radius: 8px;
  width: 110%;
  margin-bottom: .5rem;
}
.input{
  width: 100%;
  display: flex;
  gap: .5rem;
}

.btn-calc{
  margin-top: 0;
}
/* Our Team section styles */
.our-team-text{
  margin-top: 5.5rem;
  margin-bottom: 3.375rem;
}
.our-team{
  width: 90%;
  margin-bottom: 5rem;
}
.our-team-members{
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 1.125rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.members img{
  width: 100%;
  height: 100%;
  border-radius: 1.125rem;
}
.members{
  position: relative;
  width: 100%;
  height: 100%;
}
.members>div{
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
}
.member-name{
  font-size: 1.25rem;
  font-weight: 900;
  color: var(--primary-title-color);
}
.member-position{
  font-size: .875rem;
  font-weight: 400;
  color: var(--primary-text-color);
  text-align: left;
}

/* Footer section styles */
footer{
  background-color: rgba(255, 255, 255, 0.10);
}
.footer-container{
  display: grid;
  grid-template-columns: 1.2fr .9fr .9fr;
  width: 90%;
  margin: 0 auto;
  padding-top: 4.2rem;
}
hr{
  border: 2px solid rgba(255, 255, 255, 0.10);
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 2.1rem;
  width: 90%;
}
.footer-container h1, h3, p{
  text-align: left;
  cursor: pointer;
}
.fitness h1{
  color: var(--primary-btn-color);
  font-size: 4.4rem;
  font-weight: 800;
  margin-bottom: 10px;
}
.get-started h3{
  color: var(--primary-title-color);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.get-started p{
  font-size: 1.45rem;
  margin-top: 20px;
}
#footer-right{
  display: flex;
  justify-content: end;
}
.copy-right{
  color:var(--primary-text-color);
  font-size: 1.125rem;
  text-align: center;
  cursor: default;
  padding-bottom: 2.2rem;
}
/* Transformation styles */
.transformation{
  width: 90%;
  margin-bottom: 4rem;
}
.transformation-text{
  margin-bottom: 3rem;
}
.story-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 2rem;
}
.story-card{
  background-color: rgba(255, 255, 255, 0.10);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 40px rgba(128, 128, 128, 0.1);

}
.story-card div{
  width: 100%;
  height: 50%;
  margin-bottom: 1rem;
}
.story-card p, h2{
  margin-bottom: 1rem;
}
.story-card p{
  height: 15%;
}
.story-card>div>img{
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 1rem;
}
/* Small device styles*/
  @media screen and (max-width: 576px){
    .navbar-container{
        width: 90%;
    }
    .nav-items{
        display: none;
    }
    .fa-solid{
        display: flex;
        color: var(--primary-btn-text-color);
        width: 1.5rem;
        height: 1.5rem;
    }
    .banner-container{
        flex-direction: column;
        width: 90%;
        margin-top: 2rem;
    }
    .banner-title{
        font-size: 2.25rem;
    }
    .tutorial{
        position: absolute;
        top: -13%;
        right: -2%;
    }
    .free-workout{
        position: absolute;
        bottom: 14%;
        left: -1%;
    }
    .btn-container{
      display: flex;
      justify-content: center;
    }
    .habits-card-container{
      flex-direction: column;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .habits-card{
      margin-left: 5%;
      margin-right: 5%;
    }
    .extra-mile-container{
      margin: 5% auto;
      width: 70%;
      flex-direction: column;
      gap: 2rem;
    }
    select{
      width: 115%;
    }
    .title{
      font-size: 2rem;
    }
    .btn-run{
      width: 100%;
    }
    .members{
      width:90%;
      height: 90%;
      margin: auto;
    }
    .members img{
      height: 100%;
    }
    .our-team-members{
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
      padding: 0;
    }
    .our-team-text{
      margin-top: 3.5rem;
      margin-bottom: 2.375rem;
    }
    .our-team{
      margin-bottom: 4rem;
    }
    .story-container{
      grid-template-columns: 1fr;
    }
    .footer-container{
      grid-template-columns: 1fr;
    }
    #footer-right{
      justify-content: start;
      margin-top: 1.8rem;
    }
    .bmi-calculator-container{
      flex-direction: column;
    }
    .bmi-calculator{
      width: 100%;
    }
    .input{
      width: 100%;
    }
  }